table{
    font-family: var(--main-font);
    background-color: var(--primary);
    width: 100%;
}

.color{
    color: var(--secondary);
}

.edit{
    font-family: var(--main-font);
    margin-right: 10px;
}

.edit > i{
    color: #d9cd26;
}

.delete > i{
    color: #e35e3b;
}