.header a{
    font-family: var(--font);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    /*color: #fff;*/
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}

.header .logo{
    max-height: 25px;
}

.slide-toogle{
    display: flex;
    justify-content: end;
    width: 100%;
}

.icon{
    margin-top: 4px;
    margin-left: 5px;
}
