<mat-toolbar class="header">
    <span>
        <a routerLink="/">
            <img src= "assets/img/logo.png" class="logo" alt="logo">
            <!--<img src= "assets/img/rubeus.svg" alt="logo">-->
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{ routeUrl }}">
            <i class="material-icons">
                <!--dashboard-->
                {{ icon }}
            </i>
            {{ title }}
        </a>
    </span>
    <div class="slide-toogle">
        <mat-slide-toggle color="var(--secondary)" (click)="toggle()"><mat-icon class="icon" title="Dark mode">brightness_6</mat-icon></mat-slide-toggle>
    </div>

</mat-toolbar>