mat-card{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

mat-card-title{
    font-family: var(--main-font);
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    margin-right: 10px;
}

.button{
    margin-top: 20px;
}