.container{
    font-family: var(--main-font);
    background-color: var(--background);
}

.sidenav {
    /*background-color: #3f51b5;*/
    font-family: var(--main-font);
    background-color: var(--sidenav);
    width: 145px;
}

.sidenav i{
    padding-right: 5px;
    vertical-align: middle;
    margin-top: -5px;
    /*color: var(--secondary);*/
}

/*
.sidenav a{
    color: var(--secondary);
}
*/

.content{
    padding: 16px;
}