/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family:'Courier New', Courier, monospace; }
/*body { background-color: #1C1C1C; }*/

body {background-color: var(--background);}

.red{
    color: #e35e6b
}

.v-middle{
    vertical-align: middle;
    margin-bottom: 4px;
}

.msg-sucess{
    background-color: #28A745;
    color: #fff;
}

.msg-error{
    background-color: #e35e6b;
    color: #fff;
}

:root{

    --main-font: 'Roboto Mono', monospace;

    --primary: #474c50;
    
    --secondary: #fff;

    --subtitle: #d3d3d3;

    --background: #28282B;

    --footer: rgba(0,0,0,.87);

    --sidenav: #483D8B;

}

:root .light-theme{
    
    --primary: #fff;
    
    --secondary: #28282B;

    --subtitle: rgba(0,0,0,.54);

    --background: #fff;

    --footer: #f5f5f5;

    --sidenav: #3f51b5;
    
}